.modal-content {
    width: 65vw;    
    max-width: 90vw;
    margin: -300px 0px 0px -488px;
    position: absolute;
} 
 .modal {
    text-align: center;
    padding: 0!important;
  }
  
  .modal:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -4px; /* Adjusts for spacing */
  }
  
  .modal-dialog {
    display: inline-block;
    text-align: left;
    vertical-align: left;
  } 